.container{
    margin-top: 50px;
}
.nav-bg{
    background-color: white;
}
.carousel{
    background-color: lemonchiffon;
}
.carousel-item{
    padding: 20px 40px;
}

.buy-now-button{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
     
    cursor: pointer;
}
.card{
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    border: none;
    background-color: white;

}
.pale-order img{
    width: 100%;
}
.categories img{
    box-shadow: 5px 5px 10px lightgray;
}
h4{
    text-align: center;
}
footer{
    text-align: center;
    color: gray;
    margin-top: 20px;
}